/*Sitemap*/

body {
    background-image: url('./assests/sitemap-bg.jpg'); 
}

.heading {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 0;
    color: #fff;
}

.sitemap-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.node {
    fill: #20833d;
    stroke: #333;
    stroke-width: 1px;
    cursor: pointer;
    transition: fill 0.3s;
}

.node:hover {
    fill: #53df5f;
}

.node-text {
    font-size: 12px;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
}

.line {
    stroke: #962c2c;
    stroke-width: 2;
}

/* Sitemap - end*/