/* Template - start */

body{
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    background: url('./assests/background-main.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 50px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 40px;
    transition: 0.2s;
}

.navbar.sticky{
    position: fixed;
    margin: 0 auto;
    border-radius: 0;
    margin-top: 0;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(10px);
    width: calc(100% - 40px);
    padding: 10px 20px;
    height: 60px;
}

.navbar .logo{
    display: flex;
    align-items: center;
}

.navbar .logo a{
    display: inline-block;
}

.navbar .logo img{
    height: 35px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li{
    display: inline;
}

.navbar ul li a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}

.navbar ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0;
}

.navbar ul li a:hover{
    color: #000;
}

.navbar ul li a:hover::after{
    opacity: 1;
}

.footer-dev{
    text-align: center;
    padding: 8px;
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    opacity: 80%;
    height: 20px;
    width: 300px;
    position: fixed;
    right: 0;
    transition: bottom 0.3s;
}

.footer{
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
    margin-top: auto;
}

.footer a{
    color: #007bff;
}

.back-to-top{
    margin-left: 20px;
    margin-bottom: 0px;
    height: 20px;
    width: 30px;
    position: fixed;
    left: 0; 
    cursor: pointer;
    transition: bottom 0.3s;
    visibility: hidden; 
}


/* Template - end */